#admin {
    max-width: var(--max-main-width);
    min-height: var(--vh-100);
    margin: 0 auto;
    padding: 0 var(--spacing-xl);
    box-sizing: border-box;

    h1 {
        margin: var(--spacing-lg) 0 var(--spacing-xxl) 0;
        text-align: center;
    }

    .tabs {
        display: flex;
        gap: var(--spacing-md);
        margin-block: var(--spacing-xl);
        border-bottom: var(--border-width-sm) solid var(--border-color);
    }

    .tab-btn {
        font-size: var(--font-size-lg);
        min-height: var(--touch-size);
        padding: var(--spacing-sm) var(--spacing-md);
        background: none;
        border: none;
        cursor: pointer;
        color: var(--primary-color);
        border: var(--border-width-md) solid var(--primary-color);
        transition: var(--transition-short);
        margin-bottom: var(--spacing-lg);
        border-radius: var(--border-radius-md);
    }

    .tab-btn.active {
        border-bottom-color: var(--primary-color);
        color: var(--dark-text-color);
        background-color: var(--hover-color);
        border-radius: var(--border-radius-md);
        color: var(--primary-color);
        font-weight: var(--font-bold);
    }

    .tab-content {
        display: none;
        padding-block: var(--spacing-md);
    }

    .tab-content.active {
        display: block;
    }
}

.item-card {
    background: var(--light-text-color);
    border: var(--border-width-sm) solid var(--border-color);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-xl);
    flex: 1 1 var(--width-md);
    box-shadow: var(--preview-shadow);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    box-sizing: border-box;
    margin-bottom: var(--spacing-xxl);
}

.item-card h3 {
    margin: 0 0 var(--spacing-sm) 0;
    font-size: var(--font-size-lg);
    color: var(--dark-text-color);
}

.item-card .man-item-image {
    margin: 0 0 var(--spacing-sm) 0;
    font-size: var(--font-size-lg);
    color: var(--dark-text-color);
}

#manage-items .item-card .man-item-image {
    display: flex;
    gap: var(--spacing-md);
    overflow-x: auto;
}

.item-card .man-item-image img {
    max-width: var(--full-scale);
    border-radius: var(--border-radius-sm);
    object-fit: cover;
    height: var(--width-s);
    box-shadow: var(--preview-shadow);
}



.unblock {
    width: var(--full-scale);
    min-height: var(--touch-size);
    padding: var(--spacing-md);
    border: none;
    border-radius: var(--border-radius-md);
    background: var(--primary-color);
    color: var(--light-text-color);
    font-weight: var(--font-bold);
    margin-bottom: var(--spacing-lg);
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-color);
        color: var(--dark-text-color);
    }
}

.block {
    width: var(--full-scale);
    min-width: var(--block-min-width);
    min-height: var(--touch-size);
    padding: var(--spacing-md);
    border: none;
    border-radius: var(--border-radius-md);
    border: var(--border-width-md) var(--error-color) solid;
    background: var(--light-background-color);
    color: var(--error-color);
    font-weight: var(--font-bold);
    margin-bottom: var(--spacing-lg);
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: var(--error-color);
        color: var(--light-text-color);
    }
}


.user-card {
    margin: auto;
    max-width: var(--form-max-width);
    background: var(--light-text-color);
    border: var(--border-width-sm) solid var(--border-color);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-xl);
    flex: 1 1 var(--width-md);
    box-shadow: var(--preview-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-lg);
    box-sizing: border-box;
    margin-bottom: var(--spacing-xl);
}

.user-card .username,
.user-card .user-name {
    font-size: var(--font-size-lg);
    color: var(--dark-text-color);
    font-weight: var(--font-bold);
}

.user-card .user-action {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}