#login,
#signup,
#profile,
#admin_wrapper,
#forgot-password,
#reset-password {

  .field,
  .form-group {
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-md);

    .label {
      font-size: var(--font-size-md);
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: var(--font-size-md);
      font-weight: var(--font-semibold);
      margin-bottom: var(--spacing-sm);
      gap: var(--spacing-sm);
    }

    label .hint {
      font-size: var(--font-size-sm);
      font-weight: var(--font-light);
      color: var(--quaternary-color);
      margin-bottom: var(--spacing-sm);
    }


    input {
      width: var(--full-scale);
      min-height: var(--touch-size);
      padding: var(--spacing-md);
      border: var(--border-width-sm) solid transparent;
      border-radius: var(--border-radius-md);
      background: var(--input-bg);
      font-size: var(--font-size-md);
      margin-bottom: var(--spacing-lg);
    }

  }

  .two-col {
    display: flex;
    gap: var(--spacing-md);
    flex-direction: row;

    .field {
      flex: var(--flex-grow-1);
    }
  }

  .checkbox {
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--spacing-lg);

    input {
      width: var(--checkbox-size);
      height: var(--checkbox-size);
    }

    label {
      margin-left: var(--spacing-sm);
      font-size: var(--font-size-sm);
    }
  }

  .btn-delete {
    width: var(--full-scale);
    min-height: var(--touch-size);
    padding: var(--spacing-md);
    border: none;
    border-radius: var(--border-radius-md);
    border: var(--border-width-md) var(--error-color) solid;
    background: var(--light-background-color);
    color: var(--error-color);
    font-weight: var(--font-bold);
    margin-bottom: var(--spacing-lg);
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--error-color);
      color: var(--light-text-color);
    }
  }

  .btn-secondary {
    width: var(--full-scale);
    min-height: var(--touch-size);
    padding: var(--spacing-md);
    border: none;
    border-radius: var(--border-radius-md);
    border: var(--border-width-md) var(--primary-color) solid;
    background: var(--light-background-color);
    color: var(--primary-color);
    font-weight: var(--font-bold);
    margin-bottom: var(--spacing-lg);
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--hover-color);
      border: var(--border-width-md) var(--hover-color) solid;
      color: var(--dark-text-color);
    }
  }

  .btn-primary {
    width: var(--full-scale);
    min-height: var(--touch-size);
    padding: var(--spacing-md);
    border: none;
    border-radius: var(--border-radius-md);
    background: var(--primary-color);
    color: var(--light-text-color);
    font-weight: var(--font-bold);
    margin-bottom: var(--spacing-lg);
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: var(--hover-color);
      color: var(--dark-text-color);
    }
  }

  .login-link,
  .signup-link {
    font-size: var(--font-size-md);
    text-align: center;
    margin-top: var(--spacing-xl);

    a {
      color: var(--dark-text-color);
    }
  }
}

input:focus,
button:focus {
  outline: var(--border-width-md) solid var(--primary-color);
  outline-offset: var(--border-width-md);
}

fieldset {
  border: none;
}

.btn-danger {
  margin: var(--spacing-lg) 0;
  color: var(--error-color);
  background-color: var(--light-background-color);
  cursor: pointer;
  padding: var(--spacing-xl) var(--spacing-xxxl);
  border-radius: var(--border-radius-md);
  border: var(--border-width-md) solid var(--error-color);

  &:hover {
    background-color: var(--error-bg);
  }
}

form {
  margin: 0 auto;
  padding: 0 var(--spacing-xxl) var(--spacing-4xl) var(--spacing-xxl);
  max-width: var(--form-max-width);

  @media (min-width: 1024px) {
    margin: auto;
  }
}

#frmLogin,
#frmSignup,
#frmForgotPassword,
#frmResetPassword {
  h1 {
    margin-bottom: var(--spacing-xxxl);
  }
}