#profile {
  max-width: var(--max-main-width);
  margin: 0 auto;
  padding: 0 var(--spacing-xl);
  box-sizing: border-box;

  h1 {
    margin: var(--spacing-lg) 0 var(--spacing-xxl) 0;
    text-align: center;
  }

  .tabs {
    display: flex;
    gap: var(--spacing-md);
    margin-block: var(--spacing-xl);
    border-bottom: var(--border-width-sm) solid var(--border-color);
  }

  .tab-btn {
    font-size: var(--font-size-lg);
    min-height: var(--touch-size);
    padding: var(--spacing-sm) var(--spacing-md);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    border: var(--border-width-md) solid var(--primary-color);
    transition: var(--transition-short);
    margin-bottom: var(--spacing-lg);
    border-radius: var(--border-radius-md);
  }

  .tab-btn.active {
    border-bottom-color: var(--primary-color);
    color: var(--dark-text-color);
    background-color: var(--hover-color);
    border-radius: var(--border-radius-md);
    color: var(--primary-color);
    font-weight: var(--font-bold);
  }

  .tab-content {
    display: none;
    padding-block: var(--spacing-md);
  }

  .tab-content.active {
    display: block;
  }
}

#manage-items-user {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xxl);
  justify-content: flex-start;
  margin: var(--spacing-xl) 0;
  padding: 0 var(--spacing-xl);
  box-sizing: border-box;
}

#manage-items-user .item_edit {
  background: var(--light-text-color);
  border: var(--border-width-sm) solid var(--border-color);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-xl);
  flex: 1 1 var(--width-md);
  box-shadow: var(--preview-shadow);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  box-sizing: border-box;
}

#manage-items-user .item_edit h3 {
  margin: 0 0 var(--spacing-sm) 0;
  font-size: var(--font-size-lg);
  color: var(--dark-text-color);
}

#manage-items-user .item_edit p {
  margin: 0;
  color: var(--quaternary-color);
  font-size: var(--font-size-md);
}

#manage-items-user .item_edit .images_edit {
  display: flex;
  gap: var(--spacing-md);
  overflow-x: auto;
}

#manage-items-user .item_edit .images_edit img {
  max-width: var(--full-scale);
  border-radius: var(--border-radius-sm);
  object-fit: cover;
  height: var(--width-s);
  box-shadow: var(--preview-shadow);
}

@media (max-width: 480px) {
  #manage-items-user .item_edit {
    flex: 1 1 var(--full-scale);
    max-width: var(--full-scale);
  }
}