@import "variables.css";
@import "footer.css";
@import "app.css";
@import "nav.css";
@import "home.css";
@import "form.css";
@import "admin.css";

*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
/* input, button{
    width: 100%;
    height: 3rem;
    outline: none;
    border: none;
}
input{
    border: 1px solid rgb(100,100,100);
}
form{
    input{
        width: 100%;
        height: 2.5rem;
        outline: none;
    }
    button{
        width: 100%;
        height: 2.5rem;
        outline: none;
    }
} */
.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ml{
    margin-left: auto;
}
#toast_container{
    position: fixed; top: 1rem; left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: none;
    z-index: 10;
}
.toast{
    margin: auto;
    padding: 1rem 3rem;
    color: white;

}
.ok{
    background: green;
}
.error{
    background: red;
}

.hidden{ display: none !important; }




/* main{
    display: grid;
    grid-template-columns: 8fr 10fr 8fr;
    gap: 1rem;

} */



#mix-cover{    
    position: fixed; top:0rem; left:0;
    width: 100vw;
    height: 0.3rem;
    background-color: rgb(6, 182, 212);
    z-index: 20;
}
.mix-hidden{
    display: none !important;
}
.mix-fade-out {
    animation: fadeOut 2s cubic-bezier(0.1, 0, 0.5, 1);
}
.mix-error{
    background-color: rgba(230,130,130, 0.5);
}
@keyframes mix-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
