<footer>
    <div id="social_icons">
        <a href="https://twitter.com" target="_blank">
            <img src="{{ url_for('static', filename='icons/Twitter.svg') }}" alt="Twitter logo" height="30" width="30" loading="lazy"> 
        </a>
        <a href="https://linkedin.com" target="_blank">
            <img src="{{ url_for('static', filename='icons/Linkedin.svg') }}" alt="LinkedIn logo" height="30" width="30" loading="lazy"> 
        </a>
        <a href="https://facebook.com" target="_blank">
            <img src="{{ url_for('static', filename='icons/Facebook.svg') }}" alt="Facebook logo" height="30" width="30" loading="lazy"> 
        </a>
        <a href="https://instagram.com" target="_blank">
            <img src="{{ url_for('static', filename='icons/Instagram.svg') }}" alt="Instagram logo" height="30" width="30" loading="lazy"> 
        </a>
    </div>
    <p id="footer-copy">&copy; 2023 {{ languages.footer_credit }}</p>
</footer>


    <script src="{{ url_for('static', filename='js/mixhtml.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/burger.js') }}"></script>

    
    

</body>
</html>