<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="{{ url_for('static', filename='icons/shelter.svg') }}" type="image/svg">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>
        {{ title | default("Sheltr") }}
    </title>
    <meta name="description" content="Discover and book outdoor shelters with ease. Whether you're planning a hike, a family picnic, or a weekend getaway, Sheltr connects you to nature's best spots. Simple, fast, and reliable.">
</head>
<body>