<a href="/{{ lan }}/items/{{ item.item_pk }}" mix-get class="item">
    <img src="{{ url_for('static', filename='uploads/'+ item.item_image) }}">
    <p>
        {{ item.item_name }}
    </p>
    <div>
        {% if lan == "en" %}
            {{ "{:,}".format(item.item_price) }} USD
        {% elif lan == "dk" %}
            {{ "{:,.0f}".format(item.item_price * rates.rates.DKK) }} DKK
        {% else %}
            {{ "{:,}".format(item.item_price) }} USD  {# fallback #}
        {% endif %}
    </div>
</a>
