{% include "_head.html" %}
{% include "_header.html" %}

<main mix-title="{{ title | default(languages.admin_title) }}">
    {% include "_language_nav.html" %}
    <h1 id="adminh1">{{ languages.admin_title }}</h1>

        <div id="toast-container" class="toast-container">
            {% if message %}
            <div class="toast toast-{{ message_type }}">
                {{ message }}
            </div>
            {% endif %}
        </div>

    <div id="admin">
        <section id="user-management-section" class="user-section">
            <h2>{{ languages.admin_manage_users }}</h2>
            <div class="user-card">
                <div class="user-name">
                    {{ languages.username }}
                </div>
                <div class="user-action">
                    {{ languages.action }}
                </div>
            </div>
            {% for user in users %}
            <div class="user-card">
                <div class="username">
                    {{ user.user_username }}
                </div>
                <div class="user-action">
                    {% if user.user_blocked_at == 0 %}
                    {% include "_button_block_user.html" %}
                    {% else %}
                    {% include "_button_unblock_user.html" %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>

        <section id="item-management-section" class="item-section">
            <h2>{{ languages.admin_manage_items }}</h2>
            <div class="item-card">
                <div class="item-name">
                    {{ languages.item_name }}
                </div>
                <div class="item-image">
                    {{ languages.item_image }}
                </div>
                <div class="item-action">
                    {{ languages.action }}
                </div>
            </div>
            {% for item in items %}
            <div class="item-card">
                <div class="item-name">
                    {{ item.item_name }}
                </div>
                <div class="item-image">
                    <img src="{{ url_for('static', filename='uploads/' + item.item_image) }}">
                </div>
                <div class="item-action">
                    {% if item.item_blocked_at == 0 %}
                    {% include "_button_block_item.html" %}
                    {% else %}
                    {% include "_button_unblock_item.html" %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
</main>

{% include "_footer.html" %}
