{% include "_head.html" %}
{% include "_header.html" %}

<main id="forgot-password">
  {% include "_language_nav.html" %}
  <div id="toast-container" class="toast-container">
      {% if message %}
      <div class="toast toast-{{ message_type }}">
          {{ message }}
      </div>
      {% endif %}
  </div>
  <form id="frmForgotPassword" method="POST" action="{{ url_for('show_forgot_password', lan=lan) }}">
    <h1>{{ languages.forgot_password_link }}</h1>


    <div class="field">
      <label for="txtEmail">{{ languages.email_label }}</label>
      <input id="txtEmail" name="user_email" type="email" required autocomplete="email">
    </div>

    <button class="btn-primary" type="submit">{{ languages.send_reset_link }}</button>

    <p class="signup-link">
      {{ languages.remember_password }} <a href="{{ url_for('show_login', lan=lan) }}">{{ languages.login }}</a>
    </p>
  </form>
</main>

{% include "_footer.html" %}
