{% include "_head.html" %}

<body>
    {% include "_header.html" %}
    <main id="index_main" mix-title="{{ title | default('Company') }}">
        <h1 class="page-title">Browse Our Shelters</h1>
        <div id="search_container">
            <label for="input_search" class="visually-hidden">Search items</label>
            <input id="input_search" oninput="search()" class="" type="text" placeholder="Search">
            <div id="search_results" class="hidden"></div>
        </div>
        <div id="index">

            <section id="map">
                
            </section>
            
            <section id="items_more">
                <div id="items">
                    {% for item in items: %}
                    {% include "_item_mini.html" %}
                    {% endfor %}
                </div>
                {% include "_button_more_items.html" %}
        </section>

        <section id="right">
            {% set item = items[0] %}
            <div id="item">
                {% include "_item.html" %}
            </div>
        </section>
    </div>

    </main>
    {% include "_footer.html" %}