<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="icon" href="{{ url_for('static', filename='icons/shelter.svg') }}" type="image/svg">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>
        {{ title | default("Sheltr") }}
    </title>
    <meta name="description"
        content="Discover and book outdoor shelters with ease. Whether you're planning a hike, a family picnic, or a weekend getaway, Sheltr connects you to nature's best spots. Simple, fast, and reliable.">
</head>

<body>
    {% include "_language_nav.html" %}
    {% include "_header.html" %}
    <main id="index_main" mix-title="{{ title | default('Company') }}">

        <h1 class="page-title">{{ languages.browse_shelters }}</h1>

        <div id="search_container">
            <label for="input_search" class="visually-hidden">{{ languages.search_items_label }}</label>
            <input id="input_search" oninput="search()" type="text" placeholder="{{ languages.search_placeholder }}">
            <div id="search_results" class="hidden"></div>
        </div>

        <div id="index">
            <div id="map">
            </div>
            <div id="items_wrapper">
                <section id="items_more">
                    <div id="items">
                        {% for item in items: %}
                        {% include "_item_mini.html" %}
                        {% endfor %}
                    </div>
                    {% include "_button_more_items.html" %}
                </section>

                <section id="right">
                    {% set item = items[0] %}
                    <div id="item">
                        {% include "_item.html" %}
                    </div>
                </section>

            </div>
        </div>
    </main>
    <footer>
        <div id="social_icons">
            <a href="https://twitter.com" target="_blank">
                <img src="{{ url_for('static', filename='icons/Twitter.svg') }}" alt="Twitter logo">
            </a>
            <a href="https://linkedin.com" target="_blank">
                <img src="{{ url_for('static', filename='icons/Linkedin.svg') }}" alt="LinkedIn logo">
            </a>
            <a href="https://facebook.com" target="_blank">
                <img src="{{ url_for('static', filename='icons/Facebook.svg') }}" alt="Facebook logo">
            </a>
            <a href="https://instagram.com" target="_blank">
                <img src="{{ url_for('static', filename='icons/Instagram.svg') }}" alt="Instagram logo">
            </a>
        </div>
        <p id="footer-copy">&copy; 2023 KEA Development</p>
    </footer>
    <script src="{{ url_for('static', filename='js/burger.js') }}"></script>
    <script src="{{ url_for('static', filename='js/mixhtml.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        var map = L.map('map').setView([55.6, 11.9], 8);

        // Add the OpenStreetMap tile layer to the map
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);



        {% for item in items: %}

        var customIcon = L.divIcon({
            className: 'custom-marker', // Class for custom styling
            html: `<div class="custom-marker">
    <img mix-get="/items/{{ item.item_pk }}" src="{{ url_for('static', filename='icons/' + item.item_icon) }}">
</div>`, // Custom content inside the div
            iconSize: [32, 32],       // size of the icon
            iconAnchor: [16, 16],     // point of the icon which will correspond to marker's location
            popupAnchor: [0, -16]
        });

        var marker = L.marker([{{ item.item_lat }}, {{ item.item_lon }}], { icon: customIcon }).addTo(map)
            .openPopup()
        // marker.on('click', onMarkerClick)
        {% endfor %}

        mix_convert()
    </script>




</body>

</html>