{% include "_head.html" %}

<body>
    {% include "_header.html" %}
    <main>
            
        <section id="map">

        </section>
    
        <section id="items_more">
            <div id="items">
                {% for item in items: %}
                {% include "_item_mini.html" %}
                {% endfor %}
            </div>
            {% include "_button_more_items.html" %}
        </section>

        <section id="right">
            {% set item = items[0] %}
            <div id="item">
                {% include "_item.html" %}
            </div>
        </section>

    </main>
    {% include "_footer.html" %}