{% include "_head.html" %}

<body>
    {% include "_header.html" %}
<main
  id="profile"
  mix-title="{{ title | default('Profile') }}">
  
  <form action="/add-item" method="POST" enctype="multipart/form-data">
    <p>Hi {{ user.user_name }} {{ user.user_last_name }}</p>
    <h2>{{ error_message }}</h2>
  <div class="form-group">
    <label for="item_name">
      <span class="label">Shelter Name</span>
      <span class="hint">
        {{ x.ITEM_NAME_MIN }} to {{ x.ITEM_NAME_MAX }} characters
      </span>
    </label>
    <input id="item_name" name="item_name" type="text"
           mix-check="{{ x.ITEM_NAME_REGEX }}"
           value="{{ old_values.get('item_name', '') }}" />
  </div>
  <div class="form-group">
    <label for="item_address">
    <span class="label">Shelter Address</span>
      <span class="hint">
        {{ x.ITEM_ADDRESS_MIN }} to {{ x.ITEM_ADDRESS_MAX }} characters
      </span>
    </label>
    <input id="item_address" name="item_address" type="text"
           mix-check="{{ x.ITEM_ADDRESS_REGEX }}"
           value="{{ old_values.get('item_address', '') }}" />
  </div>

  <div class="form-group">
    <label for="item_lat">Latitude:</label>
    <input id="item_lat" name="item_lat" type="text"
           mix-check="{{ x.LATITUDE_REGEX }}"
           value="{{ old_values.get('item_lat', '') }}" />
  </div>

  <div class="form-group">
    <label for="item_lon">Longitude:</label>
    <input id="item_lon" name="item_lon" type="text"
           mix-check="{{ x.LONGITUDE_REGEX }}"
           value="{{ old_values.get('item_lon', '') }}" />
  </div>
    <div class="form-group">
        <label for="item_price">Price:</label>
        <input id="item_price" name="item_price" type="text"
             mix-check="{{ x.ITEM_PRICE_REGEX }}"
             value="{{ old_values.get('item_price', '') }}" />
    </div>

  <div class="form-group">
    <label for="item_image">Upload Image:</label>
    <input id="item_image" type="file" name="images" multiple accept="image/*" />
  </div>

  <button class="btn-primary" type="submit" >Add Item</button>
</form>
{% for item in items %}
  <div class="item">
    <h3>{{ item.item_name }}</h3>
    <p>{{ item.item_address }}</p>
    <div class="images">
      {% for img_filename in images_by_item.get(item.item_pk, []) %}
        <img src="{{ url_for('static', filename='uploads/' + img_filename) }}" alt="Item image" style="max-width: 150px;"/>
      {% endfor %}
    </div>
  </div>
{% endfor %}


</main>
    {% include "_footer.html" %}